body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
   
   background-color:black
  
  }
  
  .weather-app {
    text-align: center;
    background: #fff;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  }
  
  /* .weather-info {
    margin-top: 20px;
  } */

  input {
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  button {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
.weather-details{
    text-align: center;
    /* height: 150px;
    width: 250px; */
    background-position: cover;
    /* text-shadow: #007bff; */
    border-radius: 20px;
   
}  
