


  
  .weather-app {
    text-align: center;
    background: #fff;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    width: 300px;
   margin-top: 80px;
   margin-left: 300px; 
   background-repeat: no-repeat;
   background-size: cover;
   /* opacity: 0.5; */
   background-color:darkgray
  }

  .weather-info {
    margin-top: 20px;
    background-repeat: no-repeat;
    background-position: cover;
    /* background-image: url("https://getwallpapers.com/wallpaper/full/d/d/5/1369462-best-weather-wallpaper-2560x1600-windows-xp.jpg"); */

  }

  input {
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  button {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
.weather-details{
    text-align: center;
    /* height: 150px;
    width: 250px; */
    background-position: cover;
    /* text-shadow: #007bff; */
    border-radius: 20px;
   
}  
